/* Adding .css for first commit*/
header {
    background-color: brown;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, grey, black);
    
}
.desc {
    flex: wrap;
    font-size: 25px;
    color: beige;
    text-align: center;
    margin: 50px;
}
.titleName{
    color: azure;
    text-align: center;
}
